.learningContent {
    height: 500px;
}

.learningText {
    width: 60%;
    margin: auto;
}

#navCustom a {
    color: rgb(27,112,182);
}

.navbar-brand {
    padding-bottom: 4px;
    font-size: 1.4em;
}